*{
  margin: 0px;
}

html, body{
  font-family:IBM Plex Sans, helvetica;
  background-color: #242526;
  color: #FDFFF5;
}

#greeter{
  font-size: 2vw;
  font-weight: bold;
  
}

#my-name{
  font-size: 5vw;
  font-weight: bold;
  color: #147efb;
  margin-top: 10px;
  border-bottom: 2px solid #1480fb15;
  background:
    linear-gradient(
      to right,
      #1480fb00,
      #147efb,
      #1480fb00
  );
  background-size: 100% 2px, 0 2px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
}

#hero{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
  height: 20vh;
  width: 60vw;
  /*background-color: red;*/
  padding: 20px;
}

#content{
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  width: 40vw;
  height: calc(100vh - 6px);
  position: absolute;
  right: 0px;
  top: 0px;
  overflow: auto;
  scroll-behavior: smooth;
  overflow:hidden;
  box-shadow: -2px 0px #147efb, -4px 0px #0464d5, -6px 0px #034ba0, -8px 0px #02326b, -10px 0px #011935;
  border: 3px solid #147efb;
  border-radius: 20px 0px 0px 20px;
}

/* About */
#profile-pic{
  width: 12vw;
  height: 24vw;
  border-radius: 50%;
  margin-top: 5%;
  box-shadow: 5px 2px #147efb, 10px 4px #0464d5, 15px 6px #034ba0, 20px 8px #02326b, 25px 10px #011935;
}

#grad-highlight{
  color: red;
  font-weight: bold;
}

#currAge{
  font-size: 1em;
  color: #011935;
}

#bio{
  text-align: center;
  font-size: 1em;
  margin-top: 10%;
  background-color: #147efb;
  padding: 18px;
  border-radius: 20px 20px 0px 20px;
  width: 70%;
  box-shadow: 5px 2px #147efb, 10px 4px #0464d5, 15px 6px #034ba0, 20px 8px #02326b, 25px 10px #011935;
}

#msg{
  text-decoration: none;
  color: gray;
  margin-bottom: 100vh;
  margin-top: 5%;
  border: 2px solid gray;
  box-shadow: 5px 0px gray, 10px 0px #666666, 15px 0px #4d4d4d, 20px 0px #333333 , 25px 0px #1a1a1a;
  padding: 10px;
  border-radius: 20px;
  width: 70%;
}
#msg:hover{
  color: #147efb;
  border: 2px solid #147efb;
  box-shadow: 5px 0px #147efb, 10px 0px #0464d5, 15px 0px #034ba0, 20px 0px #02326b, 25px 0px #011935;
}
#profile{
  position: absolute;
  right: 0px;
  top: 0px;
}

/* Clock */
#clock-wrapper{
  position: absolute;
  bottom: 0px;
  height: 40vh;
  width: 60vw;

  font-size: 1.5em;
}
#clock-time{
  margin-top: 5vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.time{
  color: #147efb;
  font-weight: bold;
  font-size: 2em;
}

#ampm{
  margin-left: 20px;
}


#clock-day{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

div#clock-day > p{
  margin-left: 20px;
}

#colon{
  margin: 0px 10px;
}

.temp{
  color: #147efb;
}

/* Project */
.project-wrapper{
  width: 80%;

  height: 100%;
  margin-bottom: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.project-anchor{
  margin-bottom: 10%;
}

.project-img{
  width: 90%;
  height: 50%;
  margin: 15px 0px;
  border-radius: 5px;
  box-shadow: 5px 2px #147efb, 10px 4px #0464d5, 15px 6px #034ba0, 20px 8px #02326b, 25px 10px #011935;
}

.project-title{
  color: #147efb;
  font-weight: bold;
  font-size: 1.5em;
}

#git-link{
  text-decoration: none;
  color: #FDFFF5;
  font-size: 1em;
  font-weight: normal;
  border-bottom: 2px solid #147efb;
}

#git-link:hover{
  color: #147efb;
}

#git-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#git-logo{
  width: 20px;
  height: 20px;
  margin-right: 4px;
}

#tools-wrapper{
  margin: 15px 0px;
}


ul{
  display: flex;
  
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
li{
  list-style-type: none;
  border: 2px solid #147efb;
  border-radius: 20px;
  padding: 5px 10px;
  margin: 10px 5px;
}

li:hover{
  border: 2px dashed #147efb;
}

/* Navbar */
nav{
  height: 30vh;
  display:flex;
  flex-direction: column;
  justify-content: top;
  align-items: left;
  padding: 0px 20px;
  font-size: 1.5em;
}

#nav-wrapper{
  display:flex;
  justify-content: center;
  align-items: center;
  width: 60vw;
}

.nav-element {
  color: inherit;
  text-decoration: none;
  color: #FDFFF5;
}

.nav-element {
  background:
    linear-gradient(
      to right,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0)
    ),
    linear-gradient(
      to right,
      #147efb,
      #1480fb5a
  );
  background-size: 100% 2px, 0 2px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 300ms;
}

.nav-element:hover {
  background-size: 0 3px, 100% 3px;
}

.nav-element-wrapper{
  margin: 5px 0px;
}

#nav-arrow-1{
  width: 20px;
  height: 20px;
  animation-duration: 5s;
  animation-name: arrow-hover-1;
  animation-iteration-count: infinite;
}

@keyframes arrow-hover-1{
  0%{
    transform: translateX(0px);
  }
  25%{
    transform: translateX(-10px);
  }
  50%{
    transform: translateX(0px);
  }
  75%{
    transform: translateX(-10px);
  }
  100%{
    transform: translateX(0px);
  }
}

#nav-arrow-2{
  width: 20px;
  height: 20px;
  animation-duration: 5s;
  animation-name: arrow-hover-2;
  animation-iteration-count: infinite;
  animation-delay: .5s;
}

@keyframes arrow-hover-2{
  0%{
    transform: translateX(0px);
  }
  25%{
    transform: translateX(-10px);
  }
  50%{
    transform: translateX(0px);
  }
  75%{
    transform: translateX(-10px);
  }
  100%{
    transform: translateX(0px);
  }
}

#nav-arrow-3{
  width: 20px;
  height: 20px;
  animation-duration: 5s;
  animation-name: arrow-hover-3;
  animation-iteration-count: infinite;
  animation-delay: 1s;
}

@keyframes arrow-hover-3{
  0%{
    transform: translateX(0px);
  }
  25%{
    transform: translateX(-10px);
  }
  50%{
    transform: translateX(0px);
  }
  75%{
    transform: translateX(-10px);
  }
  100%{
    transform: translateX(0px);
  }
}

#nav-arrow-4{
  width: 20px;
  height: 20px;
  animation-duration: 5s;
  animation-name: arrow-hover-4;
  animation-iteration-count: infinite;
  animation-delay: 1.5s;
}

@keyframes arrow-hover-4{
  0%{
    transform: translateX(0px);
  }
  25%{
    transform: translateX(-10px);
  }
  50%{
    transform: translateX(0px);
  }
  75%{
    transform: translateX(-10px);
  }
  100%{
    transform: translateX(0px);
  }
}

#nav-arrow-5{
  width: 20px;
  height: 20px;
  animation-duration: 5s;
  animation-name: arrow-hover-5;
  animation-iteration-count: infinite;
  animation-delay: 2s;
}

@keyframes arrow-hover-5{
  0%{
    transform: translateX(0px);
  }
  25%{
    transform: translateX(-10px);
  }
  50%{
    transform: translateX(0px);
  }
  75%{
    transform: translateX(-10px);
  }
  100%{
    transform: translateX(0px);
  }
}



/* Calendar */
#calendar-month{
  color: #FDFFF5;
  background-color: #147efb;
  font-size: .7em;
  padding: 7px;
  border-bottom: 1px dotted  #FDFFF5;
}

#calendar-day{
  color: #147efb;
  border: 2px solid #147efb;
  font-size: 1em;
  padding: 10px;

}

#calendar-wrapper{
  text-align: center;
  margin-right: 20px;
  box-shadow: -2px -2px #147efb, -4px -4px #0464d5, -6px -6px #034ba0, -8px -8px #02326b, -10px -10px #011935;
  background-color: #011935;
}
